body {
	background: rgb(187,187,187);
	padding: 0px;
}
.tl_page_container
{
		font-family: 'proxima-nova', 'helveticaneue-light', 'helvetica', sans-serif; 
}

.tl_heading_container
{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	background: rgb(222,222,222);
	z-index: 9003;
}

.tl_block
{
	top: 50px;
	position: relative;
	padding-left: 20px;
	border-radius: 25px; 
	border: 2px solid red; 
	height: 130px;
	width: 690px;
  	margin-left: auto;
 	margin-right: auto;
 	display: block;
	background: black none repeat scroll 0% 0%;
	color: white; 
	overflow: auto;
	font-size: 18px; 
}

.available_list_container
{
	width: 220px;
	display: inline-block;
	top: 0px;
}


.tl_listowner_container
{
	width: 180px;
	height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	cursor: pointer; cursor: hand;
	padding: 5px;
}

.tl_table_container
{
	margin: 0 auto;
	padding: 10px;
	width: 1280px;
	 overflow: hidden;
}

.tl_table_title
{
	font-size: 34px;
	text-align: center;
}

.tl_table_title.sub
{
	font-size: 14px;
}

.tl_listowner_menu
{
	float: right;
	display: inline;
	height: 100%;
	width: 15%;
	background: rgb(112, 12, 12);
	border-radius: 5px; 
	border: 2px solid red; 
}

.tl_user_item.fu_popup
{
	height: 25px;
}

.tl_user_item
{
	height: 100%;
	vertical-align: bottom;
	width: 80%;
	float: left;
	border-radius: 5px; 
	border: 2px solid red; 
	background: rgb(112, 12, 12);
	display: inline;
	background: rgb(112, 12, 12);
	text-align: center;
}

.tl_listowner_menu:hover
{
	background-color:red;
}

.tl_user_item:focus
{
    background-color:red;
}

.tl_user_item:hover
{
    background-color:red;
}

.tl_userlist_container
{
	width: 90%;
	margin: 0 1em 0 1em;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tl_userlist_item_butt
{
	text-align: center;
     padding: 5px;
     float: right;
	width: 15%;
	height: 25px;
	border-radius: 5px; 
	cursor: pointer; cursor: hand;
}

.tl_userlist_item_butt.favorite:hover, .tl_userlist_item_butt.delete:hover, .tl_userlist_item:hover, .tl_userlist_item_butt_delete:hover
{
	background-color:red;
}


.tl_userlist_item_butt_favorite:hover {
	background-color:yellow;
}


.popup_button:hover
{
	background: yellow;
	color: black;
}

.tl_button:hover
{
	background: red;
}

.tl_button.follow_button:hover
{
	background: rgb(225,225,0);
	color: black;
}

.tl_userlist_item:focus {
    background-color:red;
}

.tl_userlist_item_butt.favorite
{
	border: 2px solid yellow; 
	background: rgb(112, 12, 12);
}

.tl_userlist_item_butt.delete
{
	border: 2px solid red; 
	background: rgb(112, 12, 12);
}

.tl_userlist_item
{
	background: rgb(112, 12, 12);
    float: left;
    padding: 5px;
	width: 70%;
	height: 25px;
	border-radius: 5px; 
	border: 2px solid red; 
	font-size: 15px;
	text-align: center;
	cursor: pointer; cursor: hand;
}

.tl_heading
{
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}

.tl_status
{
	font-size: 14px;
	text-align: center;
}

.tl_table_row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.tl_table_column
{
    display: table-cell;
	padding: 10px;
	border-radius: 25px; 
	border: 2px solid red; 
	  margin-left: auto;
 	 margin-right: auto;
	background: black none repeat scroll 0% 0%;
	color: white; 
	font-size: 18px; 
}

.tl_tools
{
	padding: 10px;
	visibility: hidden;
	margin: 0 auto;
	position: relative;
}

.tl_button
{
	border-radius: 25px; 
	border: 2px solid yellow; 
	width: 100px;
	text-align: center;
	background: rgb(64,64,64);
	padding: 5px;
	cursor: pointer; cursor: hand;
	position: relative;
}

.popup
{
	border-radius: 25px; 
	border: 2px solid blue; 
	background: black;
	color: white;
	z-index: 9002;
	position: fixed;
}

.popup.listowner_popup
{
	top: 200px;
	left: 400px;
	width: 240px;
	height: 97px;
	visibility: hidden;
	z-index: 9004;
	column-count: 2;
	padding: 20px;
}

.popup.listuser_popup
{
	top: 200px;
	left: 400px;
	width: 240px;
	height: 97px;
	visibility: hidden;
	z-index: 9004;
	column-count: 2;
	padding: 20px;
}

.popup_button
{
	border-radius: 25px; 
	padding: 10px;
	border: 2px solid yellow; 
	width: 100px;
	text-align: center;
	background: rgb(64,64,64);
	padding: 5px;
	cursor: pointer; cursor: hand;
	position: relative;
}

.popup.follow_unfollow
{
	top: 110px;
	left: 300px;
	width: 420px;
	height: 697px;
	margin: 0 auto;
	visibility: hidden;
	column-count: 2;
	padding: 20px;
}

.fu_popup_column
{
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.fu_popup_column.fu_title
{
	height:20%;
	font-size: 25px;
}

.fu_popup_column.fu_content
{
	margin: 0 auto;
	height:100%;
}

.fu_popup_column.fu_ulist
{
	height: 100%;
	overflow: auto;
	width: 100%;
}

.popup_background
{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgb(42,42,42,0.8);
	z-index: 9000;
	visibility: hidden;
}


.dropbtn {
    background-color: rgb(12, 12, 112);
	border-radius: 25px; 
	border: 2px solid blue; 
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer; cursor: hand;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
	background-color: blue;
	color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: blue;
}

.dropdown-container {
	top: 10px;
	right: 100px;
	float: right;
	display: inline-block;
	position: fixed;
}